/*#disco {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}*/

body {
    background-color: blanchedalmond;
}

.torres {
    background-color: white;
    height: 180px;
    width: 33%;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.regras {
    text-align: center;
}

#resultado {
    text-align: center;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    font-weight: bold;
    font-size: 20px;
}

#corpo {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.disco {
    height: 30px;
    text-align: center;
    margin: 10px auto;
    border-radius: 20px;
    border: 1px solid black;
}

#disco0 {
    width: 25%;
    background-color: darkgrey;
}

#disco1 {
    width: 45%;
    background-color: blue;
}

#disco2 {
    width: 65%;
    background-color: darkgoldenrod;
}

#disco3 {
    background-color: darkorange;
    width: 85%;
}