/*#disco {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}*/

body {
    background-color: blanchedalmond;
}

.torres {
    background-color: black;
    height: 200px;
    width: 33%;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
}